
{{ define "main" }}

<div class="container px-0" role="main">
  <div class="row">
    <div class="col-md-12 text-center">
      {{$section_heading := .Site.GetPage "section" .Section }}
      {{ if ne .Type "tags" }}
        {{ with $section_heading}}
          <h1 class="display-5 accent m-2 fw-bold">{{- .Title -}}</h1>
        {{ end }}
      {{ end }}
      {{ with .Content  }}
        <div class="well m-2 mb-5">
          {{.}}
        </div>
      {{ end }} 
      <div class="row">
        {{ range .Paginator.Pages }}
          {{ partial "post_preview.html" .}}
        {{ end }}
      </div>
    </div>
  </div>
</div>

<div class="container">
 <div class="row font-sans"> 
   <div class="col-md-12 mt-10">
      <nav aria-label="Page navigation"> 
      <ul class= "pagination justify-content-end">    
      {{ template "_internal/pagination.html" . }} 
      </ul>
      </nav> 
    </div>
  </div>
</div>

{{ end }}
